<!DOCTYPE html>
<html>
<head>
    <title>
        Gator Enterprise | Engine Quoting
    </title>
    <meta name="robots" content="noindex" />

    <script src="https://unpkg.com/vue@next/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

<section id="app">
<div class="banner">
    <img src="banner.jpg" alt="Gator Enterprise" />
</div>
<form>
    <section>
        <div>Cam Bearings - ${{camBearingsCost}}</div>
        <label><input v-model="camBearingsCost" name="camBearingsCost" type="radio" value="20"> Level 1 - $20</label>
        <label><input v-model="camBearingsCost" name="camBearingsCost" type="radio" value="45"> Level 2 - $45</label>
        <label><input v-model="camBearingsCost" name="camBearingsCost" type="radio" value="80"> Level 3 - $80</label>
    </section>
    <section>
        <div>Main Bearings - ${{mainBearingsCost}}</div>
        <label><input v-model="mainBearingsCost" name="mainBearingsCost" type="radio" value="25"> Level 1 - $25</label>
        <label><input v-model="mainBearingsCost" name="mainBearingsCost" type="radio" value="72"> Level 2 - $72</label>
        <label><input v-model="mainBearingsCost" name="mainBearingsCost" type="radio" value="121"> Level 3 - $121</label>
    </section>
    <section>
        <div>Rod Bearings - ${{rodBearingsCost}}</div>
        <label><input v-model="rodBearingsCost" name="rodBearingsCost" type="radio" value="23"> Level 1 - $23</label>
        <label><input v-model="rodBearingsCost" name="rodBearingsCost" type="radio" value="70"> Level 2 - $70</label>
        <label><input v-model="rodBearingsCost" name="rodBearingsCost" type="radio" value="121"> Level 3 - $121</label>
    </section>
    <section>
        <div>Crankshaft - ${{crankshaftCost}}</div>
        <label><input v-model="crankshaftCost" name="crankshaftCost" type="radio" value="210"> Stock Replacement - $210</label>        
        <label><input v-model="crankshaftCost" name="crankshaftCost" type="radio" value="242"> Level 1 - $242</label>
        <label><input v-model="crankshaftCost" name="crankshaftCost" type="radio" value="602"> Level 2 - $602</label>
        <label><input v-model="crankshaftCost" name="crankshaftCost" type="radio" value="1300"> Level 3 - $1300</label>
    </section>    
    <section>
        <div>Connecting Rods - ${{connectingRodsCost}}</div>      
        <label><input v-model="connectingRodsCost" name="connectingRodsCost" type="radio" value="242"> Level 1 - $242</label>
        <label><input v-model="connectingRodsCost" name="connectingRodsCost" type="radio" value="602"> Level 2 - $602</label>
        <label><input v-model="connectingRodsCost" name="connectingRodsCost" type="radio" value="1300"> Level 3 - $1300</label>
    </section>  
    <section>
        <div>Pistons - ${{pistonsCost}}</div>      
        <label><input v-model="pistonsCost" name="pistonsCost" type="radio" value="205"> Level 1 - $205</label>
        <label><input v-model="pistonsCost" name="pistonsCost" type="radio" value="398"> Level 2 - $398</label>
        <label><input v-model="pistonsCost" name="pistonsCost" type="radio" value="603"> Level 3 - $603</label>
    </section>  
    <section>
        <div>Piston Rings - ${{pistonRingsCost}}</div>      
        <label><input v-model="pistonRingsCost" name="pistonRingsCost" type="radio" value="45"> Level 1 - $45</label>
        <label><input v-model="pistonRingsCost" name="pistonRingsCost" type="radio" value="83"> Level 2 - $83</label>
        <label><input v-model="pistonRingsCost" name="pistonRingsCost" type="radio" value="182"> Level 3 - $182</label>
    </section>  
    <section>
        <div>Oil Pump - ${{oilPumpCost}}</div>      
        <label><input v-model="oilPumpCost" name="oilPumpCost" type="radio" value="62"> Level 1 - $62</label>
        <label><input v-model="oilPumpCost" name="oilPumpCost" type="radio" value="142"> Level 2 - $142</label>
        <label><input v-model="oilPumpCost" name="oilPumpCost" type="radio" value="369"> Level 3 - $369</label>
    </section>
    <section>
        <div>Intake Manifold - ${{intakeManifoldCost}}</div>      
        <label><input v-model="intakeManifoldCost" name="intakeManifoldCost" type="radio" value="165"> Level 1 - $165</label>
        <label><input v-model="intakeManifoldCost" name="intakeManifoldCost" type="radio" value="225"> Level 2 - $225</label>
        <label><input v-model="intakeManifoldCost" name="intakeManifoldCost" type="radio" value="350"> Level 3 - $350</label>
    </section>
    

    <section>
        <div>Carb - ${{carbCost}}</div>      
        <label><input v-model="carbCost" name="carbCost" type="radio" value="500">Carb (2 bbl) and adapter - $500</label>
        <label><input v-model="carbCost" name="carbCost" type="radio" value="620">Carb (4 bbl) - $620</label>
    </section>


    <section class="misc">
        <div>Total Misc. - $1624</div>
        <p>Valve Covers - $35</p>
        <p>Water Pump - $55</p>
        <p>Water Inlet - $16</p>
        <p>Pulley Set - $99</p>
        <p>Distributor - $175</p>
        <p>Plug Wires - $89</p>
        <p>Spark Plugs - $35</p>
        <p>Top End Gaskets - $25</p>
        <p>Starter - $130</p>
        <p>Consumables - $150</p>
        <p>Shipping - $175</p>
        <p>Labor - $675 </p>

    </section>
  
</form>
<h2 class="grand-total">Total - ${{total}}</h2>
</section>

<script src="script.js"></script>
</body>
</html>