html { 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}


.banner {
    width: 100%;
    text-align: center;
    padding-bottom: 2em;
}
.banner img {
    max-width: 640px;
    max-height: 320px;
}
#app {
    /*display: none; /* set for access control */
    max-width: 960px;
    margin:0 auto;
}
form section {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 50%; 
    border-bottom: 1px solid #000;
}
section div {
    text-align: right;
    font-weight: 700;
}
section p {
    margin:0;
    text-align: right;
    font-weight: 700;
}
input[type="radio"] {
    margin-left: 1em;
    margin-right: 1em;
}
label {
    text-align: right;
    display: block;
/*    
    display: flex;
    justify-content: flex-end; 
*/
}
/* label div {padding:0 1em;} */
/* .misc p {margin:0;} */
.block p {font-weight: 400}
.grand-total {
    position: fixed;
    left: 75%;
    bottom: 1em;
}